<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <script src="webjars/jquery/jquery.min.js"></script>
    <script src="webjars/momentjs/moment.js"></script>
    <script src="webjars/datatables/js/jquery.dataTables.min.js"></script>
    <script src="webjars/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="webjars/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/js/editor.js"></script>
    <link rel="stylesheet" href="webjars/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="webjars/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="webjars/font-awesome/css/all.css">
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="header.html :: header"></header>
    <br>
    <table class="table table-bordered" id="editor_table">
        <thead class="thead-dark">
            <th>File</th>
            <th>Reviewer</th>
            <th>Date</th>
            <th>Status</th>
            <th>Accept/Reject</th>
        </thead>
        <tbody>
            <tr th:each="article: ${articles}" th:style="${article.isOnTime() ? '' : 'background-color: #FF6961'}">
                <td>
                    <a th:href="@{/getfile/{id}(id=${article.id})}" th:text="${article.fileName}"></a>
                </td>
                <td>
                    <form method="PATCH" th:action="@{/updateReviewer}" action="#">
                        <input type="hidden" name="articleId" th:value=${article.id} />
                        <select class="form-control" name="reviewer" onchange="this.form.submit()">
                            <option value="0"
                                th:text = "${article.getReviewer() != null} ?
                                    ${article.getReviewer().username} :
                                    'Select a reviewer'">
                            </option>
                            <option  th:each="user : ${reviewers}" th:value=${user.id} th:text="${user.username}"></option>
                            <option value="-1">No Reviewer</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form method="PATCH" th:action="@{/updateDueDate}" action="#" id="date_form">
                        <input type="hidden" name="articleId" th:value=${article.id} />
                        <div class="input-group mb-3">
                            <input type="text" name="date" class="form-control datetimepicker-input" th:id="datetimepicker + ${article.id}" data-toggle="datetimepicker" th:attr="data-target='#datetimepicker' + ${article.id}"
                                th:placeholder="${article.getFormattedDueDate() != null} ? ${article.getFormattedDueDate()} : ''"  />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-dark">
                                    <i class="fas fa-check-square"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </td>
                <td th:text="${article.state}"></td>
                <td>
                    <form method="PATCH" th:action="@{/acceptArticle}" action="#">
                        <input type="hidden" name="articleId" th:value="${article.id}" />
                        <input type="hidden" name="isAccepted" th:value="!${article.isAccepted()}" />
                        <button th:if="${article.isAccepted()}" type="submit" class="btn btn-danger">Reject</button>
                        <button th:unless="${article.isAccepted()}" type="submit" class="btn btn-success" th:disabled="${!article.hasReview()}" th:text="${article.hasReview()} ? 'Accept' : 'Waiting on Review'"></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
