<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" />
<head>
    <title>Login</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div>
        <label> User Name</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label> Password</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">Login</button>
        <button onclick="location.href='/register'" type="button">Register</button>
    </div>
</form>
</body>
</html>