<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css">

</head>
<body>
    <header th:insert="header.html :: header"></header>
    <p th:text="'Filename: ' + ${article.fileName}"></p>
    <p th:text="'Status: ' + ${article.state}"></p>
    <p th:text="'Date Due: ' + ${article.date}"></p>
    <div>
        <a th:href="@{/getfile/{id}(id=${article.id})}">Download</a>
    </div>
    <form method="POST" th:action="@{/setReview}">
        <textarea name="review" required th:text="${article.review}"></textarea>
        <input type="hidden" name="articleId" th:value="${article.id}" />
        <input type="submit" value="Submit Review">
    </form>
</body>
</html>