<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <script src="/js/upload.js"></script>
</head>
<body>
    <form id="fileUploadForm" method="POST" enctype="multipart/form-data" th:action="@{/upload}">
        <label>Select File to Upload (Up to 10 MB): </label><input id="fileLoad" type="file" name="file"> <br />
        <input type="submit" value="Upload File" onclick="checkFileSize(event)">
    </form>
    <br/>

    <table>
        <thead>
            <th>
                <td>ID</td>
                <td>File Name</td>
                <td>Download</td>
            </th>
        </thead>
        <tbody>
            <tr th:each="article: ${articles}">
                <td th:text="${article.id}"></td>
                <td th:text="${article.fileName}"></td>
                <td><a th:href="@{/getfile/{id}(id=${article.id})}">Download</a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>