<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" th:action="@{/upload}" action="#">
        <label>Select File to Upload (PDF, .DOCX, .TXT): </label><input type="file" name="file"> <br />
        <input type="submit" value="Upload File">
    </form>
    <br/>

    <table>
        <thead>
            <th>
                <td>ID</td>
                <td>File Name</td>
            </th>
        </thead>
        <tbody>
            <tr th:each="article: ${articles}">
                <td th:text="${article.id}"></td>
                <td th:text="${article.fileName}"></td>
                <div th:switch="${role}">
                    <td th:case="${T(app.models.Submitter)}" th:text="${article.getState()}"></td>
                    <div th:case="${T(app.models.Editor)}">
                        <td>
                            <form method="PATCH" th:action="@{/acceptArticle}" action="#">
                                <input type="hidden" name="articleId" th:value="${article.id}" />
                                <input type="submit" value="Accept">
                            </form>
                        </td>
                        <td>
                            <form method="PATCH" th:action="@{/rejectArticle}" action="#">
                                <input type="hidden" name="articleId" th:value="${article.id}" />
                                <input type="submit" value="Reject">
                            </form>
                        </td>
                        <td th:text="${article.getState()}"></td>
                    </div>
                    <div th:case="${T(app.models.Reviewer)}">
                        <td>
                            <form method="PATCH" th:action="@{/addReviewer}" action="#">
                                <input type="hidden" name="articleId" th:value="${article.id}" />
                                <input type="submit" value="Review">
                            </form>
                        </td>
                        <td th:text="${article.getState()}"></td>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>

</body>
</html>